:root {
  --menu-text-color: #fff;

  --primary-light: #f06c64;
  --primary-dark: #ca4549;
  --secondary-dark: #2d303a;

  --content-bg-color: #f2f2f2;
  --content-text-color: #666d89;

  --container-opacity: rgba(255, 255, 255, .1);

  --container-padding: 50px 40px;
  --container-padding-aside: 0 40px;

  --contacts-text-color: #f0d8d9;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

nav {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding-aside);
  background: var(--secondary-dark);
  position: relative;
}

body > * {
  position: relative;
}

body > *::after {
  content: "";
  height: 4px;
  width: 100%;
  background: var(--container-opacity);
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo {
  color: var(--menu-text-color);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo span {
  color: var(--primary-light);
}

nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}

nav li {
  height: 100%;
}

nav a {
  padding: 0 17px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--menu-text-color);
  display: flex;
  align-items: center;
  height: 100%;
}

nav .active-nav a {
  color: var(--primary-light);
}

nav li:hover {
  background: var(--container-opacity);
}

.slider {
  background: var(--primary-light);
  height: 600px;
  padding-top: 0;
  padding-bottom: 0;
}

.slider__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.left__arrow {
  transform-origin: center;
}

.arrow {
  padding: 40px;
  line-height: 0;
}

.right__arrow {
  transform-origin: center;
}

.our-services {
  padding: var(--container-padding);
  background-color: var(--content-bg-color);
  color: var(--content-text-color);
}

.our-services__title h2{
  font-weight: 900;
  font-size: 30px;
  line-height: 1.1em;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.our-services__title p {
  font: 300 18px/30px "lato";
  margin-bottom: 20px;
}

.our-services__features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.feature {
  flex-basis: 30vw;
  display: flex;
  margin: 15px 0;
  flex-grow: 1;
}

.feature__icon {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-grow: 1;
  background-image: url(/assets/img/service-icons.png);
}

.feature__title {
  font: 900 18px/1 "lato";
  margin-bottom: 15px;
}

.feature__text {
  font-size: 12px;
  line-height: 1.9em;
}

[data-icon="pencil"] {
  background-position: -2px -2px;
}

[data-icon="bulb"] {
  background-position: -64px -2px;
}

[data-icon="heart"] {
  background-position: -126px -2px;
}

[data-icon="phone"] {
  background-position: -188px -2px;
}

[data-icon="bubble"] {
  background-position: -250px -2px;
}

[data-icon="star"] {
  background-position: -312px -2px;
}